# locked
/assets/minecraft/blockstates/*
/assets/minecraft/font/
/assets/minecraft/lang/
/assets/minecraft/models/block/*
/assets/minecraft/models/item/*
/assets/minecraft/particles/
/assets/minecraft/textures/

# development
/node_modules
/yarn.lock

# unlock all
# !/assets/minecraft/models/**/*

# unlock only (dev)
!/assets/minecraft/blockstates/*-*
!/assets/minecraft/models/block/**/*-*
!/assets/minecraft/models/item/**/*-*